body
{
        background: black;
        font-size: 12pt;
        color: gray;
}

#proxy
{
        width: 35%
}

#port
{
        width: 10%
}

#port_text
{
        margin-left: 5%;
}

#settings_ok
{
        margin-left: 15%;
        width: 35%;
}

#settings_cancel
{
        width: 35%;
}

.left_element
{
        margin-left: 20px;
}

#save_path
{

        width: 71%;
        margin-bottom: 1px;
}

#set_save_path
{
        margin-left: 2%;
}
