html
{
        height: 100%;
        width: 100%;
}

body
{
        background: black;
        font-size: 12pt;
        color: gray;
        width: 97%;
        height: 95.2%;
}

table
{       
        width: 100%;
        height: 55%;
        table-layout:fixed;
}

td
{
        height: 100%;
}

td.td1
{
        width: 50%
        vertical-align: top;
}

#cover_block
{
        text-align: center;
        width: 100%;
        height: 100%;
        overflow: auto;
}

#sr_dn_block
{
        height: 100%;
}

#downloaded_comics
{
        color: white;
        background: black;
        width: 75%;
}

#url
{
        width: 97%;
        background: black;
        color: white;
}

#comic_name
{
        display: inline-block;
        height: 6%;
}

select.chap
{
        width: 45%;
        height: 45%;
        color: white;
        background: black;
}

#show_select
{
        margin-bottom: 21%;
}

#msg_block
{
        color: white;
        overflow: auto;
        border: 1px solid gray;
        border-top: none;
        height: 32%;
        background: black;
}

#progress_bar
{
        /*overflow: hidden;     /*IE6 下要讓 div 高度小於 12px 則必須添加此屬性*/
        margin-top: 12px;
        height: 3%;
        background: orange;
}

.ctl_button
{
        width: 23.85%;
}

#tabs ul
{
        border-bottom: 1px solid gray;
        margin: 0;
        width: 100%;
}

#tabs a
{
        /* Use this to make the dotted lines wrap the whole block when user clicked */
        display: inline-block; 
        padding: 3px 10px;
        color: white;
        font-weight: bold;
        text-decoration: none;
}

#tabs li.tabs-default
{
        float: left;
        margin: 0;
        margin-bottom: -1px;
        filter: alpha(opacity=50);      /* IE only */
        opacity: 0.5;
}

#tabs li:hover
{
        filter: alpha(opacity=100);      /* IE only */
        opacity: 1;
}

#tabs li.tabs-active
{
        filter: alpha(opacity=100);      /* IE only */
        opacity: 1;
        border: 1px solid gray;
        border-bottom: 1px solid black;
        background-color: black;
}

#tabs li.tabs-active a
{
        cursor: text;
}

#task_list_block
{
        border: 1px solid gray;
        border-top: none;
        height: 32%;
        background: black;
}

#list_title
{
        border-collapse: collapse;
        height: 0;
}

#list_title th
{
        background: gray;
        color: white;
        text-align: left;
        border: 1px solid black;
}

#list_title th:first-child
{
        width: 70%;
}

#list_container
{
        overflow-y: auto;
        overflow-x: hidden;
        height: 88%;
}

#task_list
{
        border-collapse: collapse;
        height: 0;
}

#task_list td:first-child
{
        width: 70%;
}

#task_list td
{
        border: 1px solid black;
}

#task_list td.list-hover
{
        filter: alpha(opacity=50);      /* IE only */
        opacity: 0.5;
        color: white;
        font-weight: bold;
        background: gray;
}

#list_menu
{
        position: fixed;
        display: none;
}

#list_menu span
{
        filter: alpha(opacity=50);      /* IE only */
        opacity: 0.5;
        background: white;
        font-weight: bold;
        color: black;
        padding: 4px 10px 4px 10px;
        display: inline-block;
        cursor: pointer;
}

#list_menu span:hover
{
        filter: alpha(opacity=80);      /* IE only */
        opacity: 0.8;
}
